table.graph {
  height: 300px;
  margin: 0;
}

table.graph .bar-wrapper {
  height: 400px;
  width: 30px;
  vertical-align: bottom;
}

table.graph .bar {
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  color: white;
  background-color: #e99;
}
