#hist-wrapper {
  margin: 10px;
}

#hist-display-container {
  margin-top: 20px;
  position: absolute;
  left:0;
  right:0;
  display:flex;
  justify-content: center;
  padding-bottom: 30vh;
}

#hist-wraper label {
  margin-left: 10px;
}
